/* @theme aqua */

@import "default";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://font.emtech.cc/css/GenSekiGothicTW?weight=400");

:root {
  font-family: GenSekiGothicTW, Inter, Helvetica, Arial;
  --brand-color: #023E8A;
  --logo-url: url(https://raw.githubusercontent.com/twitter/twemoji/a6f943b958d94b2b82f886aa540b915d9a694a75/assets/svg/2696.svg);
  --logo-blue-url: var(--logo-url);
  --mark-default: #90e0ef;
}

section {
  padding: 30px 40px 30px 40px;
  background-image: var(--logo-url);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: right 40px top 40px;
  justify-content: start;
}

section h1 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  margin-right: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--brand-color);
  font-weight: 700;
}

a {
  color: #0096C7;
}

code {
  background-color: rgba(146, 146, 146, 0.2);
}

pre {
  background-color: #ece1ecad;
}

p {
  margin-bottom: 20px;
}

ul {
  margin-bottom: 20px;
}

table th {
  background: var(--brand-color);
  color: white;
}

table th,
table td {
  font-size: 0.8rem;
  border: 2px solid #0077b6;
}

mark {
  background-color: transparent;
  padding: 2px 1px;
  border-radius: 5px; 
  color: $text-color ;  
  background: linear-gradient(transparent 40%, rgba(255,255,255,0) 50%, var(--mark-default) 75%, var(--mark-default) 90%, transparent 95%);
}

/* https://github.com/yhatt/marp/issues/263 */
section::after {
  font-size: 0.75em;
  color: var(--brand-color);
  content: attr(data-marpit-pagination);
  /*content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);*/
}

/* the "center" keyword centers the image - may break, careful */
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

/* || SECTION CLASS: lead */
section.lead {
  padding: 70px 70px 70px 70px;
  background-size: 100px;
  background-position: left 70px top 100px;
}

section.lead h1 {
  padding-top: 220px;
  font-size: 2rem;
  height: 4rem;
  margin-bottom: 80px;
  margin-right: 0px;
  /* display: flex; */
  /* align-items: flex-end; */
}

section.lead h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* || SECTION CLASS: blue */
section.blue {
  background-image: var(--logo-blue-url);
  background-color: var(--brand-color);
  color: #ffffff;
  justify-content: center;
}

section.blue > h1,
section.blue > h2,
section.blue > h3,
section.blue > h4,
section.blue > h5,
section.blue > h6 {
  color: #ffffff;
}

section.blue h1 {
  font-size: 2rem;
  margin-right: 0px;
}

section.blue a {
  color: #48CAE4;
}

section.blue::after,
section.blue > footer,
section.blue > header {
  color: #ffffff;
}

/* || SECTION CLASS: tinytext */
/* new class that makes p, ul, and blockquote text smaller */
/* might be useful for the References slide, use <!-- _class: tinytext --> */
section.tinytext > p,
section.tinytext > ul,
section.tinytext > blockquote {
  font-size: 0.65em;
}